*{
    font-family: 'Nunito', sans-serif;
    border: 0;
    margin: 0;
}
main{
    display: flex;
    flex-direction: row;
    height: 80vh;
    background-color: #92D1B4;
}
.info{
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #92D1B4;
    height: 100%;
    width: 15vw;
    text-shadow: 2px 2px 8px #000000;
    color: white;
}
.pokemon{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #92D1B4;
    height: 100%;
    width: 55vw;
}
.pokeimg{
    height: 40%;
}
.japanese{
    font-size: 100px;
    font-weight: 1000;
    opacity: .5;
    position: absolute;
    left: 350px;
    top: 350px;
}
.stats{
    color: white;
    font-size: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #92D1B4;
    height: 100%;
    width: 30vw;
}
.stats ul{
    width: 80%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
    background-color: #92D1B4;
}
.stats li{
    font-size: 12px;
    color: black;
    padding: 2px 10px;
    display: flex;
    background-color: white;
    border-radius: 5px;
    flex-wrap: wrap;
}
body{
    background-color: #92D1B4;
}
header{
    text-shadow: 2px 2px 8px #000000;
    color: white;
    padding-left: 20px;
    padding-top: 10px;
    height: 10vh;
    background-color: #92D1B4;
}
footer{
    text-shadow: 2px 2px 8px #000000;
    color: white;
    height: 8vh;
    background-color: #92D1B4;
}
footer p {
    font-size: 14px;
    left: -20px;
    position: absolute;
    rotate: -90deg;
}